@import "config" // Always at the beginning
@import "header"
@import "select"
@import "breadcrumb"
@import "modal"
@import "slick"
@import "footer"

// MAIN SCREEN
.main
    position: relative
    min-height: 100vh

.offer
    display: flex
    justify-content: space-between
    position: relative
    margin-top: 75px
    &__content
        max-width: 635px
    &__title
        font-size: 40px
        font-weight: 600
        line-height: 60px
        span
            font-weight: normal
    &__description
        margin-top: 42px
        font-size: 20px
        font-weight: 300
        line-height: 32px
    &__btn
        margin-top: 60px
    &__image
        position: absolute
        right: 0

.tag
    position: absolute
    bottom: 12px
    font-size: 16px
    font-weight: 600
    line-height: 30px
    &::before
        content: ''
        display: inline-block
        margin-right: 10px
        width: 1px
        height: 30px
        vertical-align: middle
        background: $blue-color

// ADVANTAGES
.advantages
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &__head
        position: relative
        max-width: 292px
        &::after
            content: ''
            display: block
            position: absolute
            top: -61px
            right: 0
            z-index: -1
            width: 227px
            height: 221px
            background-image: url(../img/dist/sprite.svg#big-star)
            background-repeat: no-repeat
            background-size: cover
            background-position: center

.background-road
    position: absolute
    right: 0
    z-index: -1
    background-repeat: no-repeat
    background-size: cover
    background-position: center right

.card
    display: flex
    align-items: stretch
    flex-wrap: wrap
    height: 100%
    &__item
        position: relative
        padding: 48px 14px 12px
        max-width: 292px
        width: 100%
        background: #F9F9F9
        box-shadow: 0 4px 15px rgba(#000, 0.12)
        &::after
            content: ''
            display: block
            position: absolute
            top: -10px
            right: -10px
            z-index: -1
            width: 100%
            height: 100%
            background: #C7DDF6
    &__title
        font-size: 26px
        font-weight: normal
        line-height: 43px
    &__description
        margin-top: 20px
        margin-bottom: 72px
        font-size: 18px
        font-weight: normal
        line-height: 28px
    &__btn
        position: absolute
        right: 14px
        bottom: 12px
        font-size: 14px
        font-weight: 600
        color: $blue-color
        &:hover
            color: $blue-color
        &::before
            content: ''
            display: block
            position: absolute
            top: -24px
            right: 0
            width: 200px
            height: 1px
            background: $blue-color

// NEWS
.articles
    &__wrapper
        display: flex
        flex-wrap: wrap
    &__item
        display: flex
        flex-direction: column
        flex-basis: auto
        margin: 0 12px 24px
    &__item ~ .articles__delimiter
        margin-top: 16px
    &__head
        width: 100%
        height: 271px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__head--profession
        height: 381px
    &__tag
        padding: 15px 26px
        font-size: 14px
        font-weight: 600
        color: $blue-color
        background: $white-color
        &::before
            content: ''
            display: inline-block
            margin-right: 5px
            width: 1px
            height: 12px
            vertical-align: middle
            background: $blue-color
    &__body
        display: flex
        flex: 1
        flex-direction: column
        padding: 12px 20px 20px
        background: $white-color
        box-shadow: 0 4px 15px rgba(#000, 0.12)
    &__title
        flex: 1
        font-size: 16px
        font-weight: 600
        line-height: 30px
    &__footer
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-top: 18px
    &__user
        display: flex
        align-items: center
    &__ava
        overflow: hidden
        margin-right: 10px
        max-width: 58px
        max-height: 55px
        width: 100%
        height: 100%
        border-radius: 50%
    &__img
        min-width: 58px
        min-height: 55px
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__name,
    &__date
        font-size: 12px
        line-height: 32px
    &__more
        font-size: 14px
        font-weight: 600
        color: $blue-color
    &__delimiter
        width: 100%
        height: 80px
        background: #EBEBEB
    &__delimiter ~ .articles__item
        margin-top: 40px

// HOW IT WORKS
.stages
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: stretch
        margin-top: 120px
        height: 100%
        counter-reset: counter
    &__item
        max-width: 248px
    &__head
        display: flex
        justify-content: flex-end
        align-items: flex-end
        position: relative
        min-height: 250px
        &::before
            position: absolute
            top: -50%
            left: 0
            z-index: -1
            transform: translateY(50px)
            font-size: 300px
            font-weight: 800
            line-height: 100%
            counter-increment: counter
            content: counter(counter)
            color: transparent
            background-clip: text
            background-image: linear-gradient(to top, rgba(#fff, 1), rgba(#ebebeb, 1))
    &__description
        overflow: hidden
        margin-top: 25px
        max-height: 90px
        font-size: 16px
        font-weight: 600
        line-height: 30px

// BLOG
.blog
    &__title
        margin-top: 52px
        font-size: 26px
        font-weight: normal
        line-height: 43px
    &__tag
        position: relative
        margin-top: 24px
        padding-left: 10px
        font-size: 20px
        font-weight: 300
        line-height: 32px
        &::before
            content: ''
            position: absolute
            left: 0
            display: inline-block
            width: 1px
            height: 30px
            vertical-align: middle
            background: $blue-color

// FILTER
.filter
    display: flex
    align-items: center
    &__item
        font-size: 14px
        font-weight: 600
        color: $blue-color
        cursor: pointer
        &::before
            content: ''
            display: inline-block
            margin-right: 5px
            width: 1px
            height: 20px
            vertical-align: middle
            background: $blue-color
        &.active
            font-weight: 800
            color: $blue-hover-color
    &__item + &__item
        margin-left: 33px

// CAREER
.tabs
    &__content
        display: none
        &.active
            display: block

.resume
    &__wrapper
        display: flex
    &__item
        padding: 27px 21px
        width: 397px
        background: #F9F9F9
        box-shadow: 0 4px 15px rgba(#000, 0.12)
    &__item + &__item
        margin-left: 25px
    &__inner
        display: flex
        align-items: flex-end
    &__inner + &__inner
        margin-top: 3px
    &__title
        margin-bottom: 35px
        font-size: 26px
        line-height: 43px
        &:first-child
            margin-right: 30px
            max-width: 200px
            width: 100%
    &__vacancy
        font-size: 18px
        line-height: 28px
        &:first-child
            margin-right: 30px
            max-width: 200px
            width: 100%

.career-form
    max-width: 717px
    width: 100%
    &__inner + &__inner
        margin-top: 39px
    &__inner--flex
        display: flex
    &__group--small
        width: 50%
    &__group + &__group
        margin-left: 70px
    &__help
        display: block
        margin-bottom: 20px
        width: 100%
        font-size: 18px
        line-height: 28px
        color: #6C6C6C
    &__input
        display: block
        padding: 0 16px
        width: 100%
        font-size: 16px
        font-weight: 600
        line-height: 30px
        color: $primary-color
        border: none
        border-bottom: 1px solid $primary-color
        &:placeholder
            color: $light-gray-color
        &:focus
            outline: none
    &__mark
        position: relative
        margin-bottom: 20px
        font-size: 18px
        line-height: 28px
        color: #6C6C6C
    &__mark span
        display: inline-block
        position: relative
        margin-left: 12px
        width: 24px
        height: 1px
        vertical-align: middle
        background: $primary-color
    &__mark.active span
        &::after
            content: ''
            display: inline-block
            position: absolute
            top: -20px
            left: 50%
            transform: translateX(-50%)
            width: 20px
            height: 20px
            background-image: url(../img/dist/sprite.svg#mark)
            background-repeat: no-repeat
            background-size: initial
            background-position: center
    &__checkbox
        display: flex
        border-bottom: 1px solid $primary-color
    &__select-group
        display: flex
        align-items: center
    &__delimiter
        margin: 0 18px
        width: 12px
        height: 1px
        background: $primary-color
    &__btn
        margin-top: 63px
        border: none
        box-shadow: 0 4px 15px rgba(#000, 0.12)

.custom-checkbox
    margin-bottom: 5px
    min-width: 35px
    width: 100%
    text-align: center
    cursor: pointer
    &.active
        .custom-checkbox__label
            color: $blue-color
    &__input
        display: none
    &__label
        display: inline-block
        font-size: 16px
        line-height: 30px
        color: #BDBDBD
        transition: color 0.5s
        &:hover
            color: $blue-color

.career-growth
    position: relative
    display: flex
    justify-content: space-around
    align-items: flex-end
    margin-top: 83px
    margin-bottom: 41px
    &::before
        content: ''
        display: block
        position: absolute
        top: -230px
        left: 0
        right: 0
        z-index: -1
        width: 100%
        height: 540px
        background-image: url(../img/dist/sprite.svg#career-arrow)
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
    &__item
        position: relative
        display: flex
        justify-content: center
        align-items: center
        max-width: 336px
        width: 100%
        background: #F9F9F9
        box-shadow: 0 4px 15px rgba(#000, 0.12)
        &::after
            content: ''
            position: absolute
            z-index: 1
            background-repeat: no-repeat
            background-size: cover
            background-position: center
        &::before
            content: ''
            display: block
            position: absolute
            top: -10px
            z-index: -1
            border-bottom: 10px solid #C7DDF6
            border-left: 30px solid transparent
            border-right: 30px solid transparent
            height: 0
            width: 336px
        &:first-child
            height: 60px
            &::after
                bottom: 0
                left: -40px
                width: 61px
                height: 196px
                background-image: url(../img/dist/sprite.svg#illustration-01)
        &:nth-child(2)
            height: 120px
            &::after
                top: -104px
                right: 0
                width: 105px
                height: 179px
                background-image: url(../img/dist/sprite.svg#illustration-02)
        &:last-child
            height: 180px
            &::after
                top: 0
                right: -60px
                width: 76px
                height: 238px
                background-image: url(../img/dist/sprite.svg#illustration-03)
    &__circle
        &::before
            content: ''
            position: absolute
            bottom: -55.5px
            left: 50%
            transform: translateX(-50%)
            z-index: 1
            width: 31px
            height: 31px
            background: $white-color
            border: 2px solid $blue-color
            border-radius: 50%
    &__position
        font-size: 26px
        line-height: 43px
        color: $blue-color

.vacancy
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    &::before
        content: ''
        position: absolute
        top: 0
        width: 100%
        height: 2px
        background: $blue-color
    &__wrapper
        margin-top: 40px
        max-width: 527px
        background: #F9F9F9
        box-shadow: 0 4px 15px rgba(#000, 0.12)
    &__inner
        position: relative
        width: 500px
        height: 400px
    &__list
        overflow-y: hidden
        padding: 54px 12px 62px
        max-height: 300px
    &__item + &__item
        margin-top: 12px
    &__link
        font-size: 18px
        line-height: 28px
        color: $blue-color
        &:hover
            color: $blue-hover-color

.info-news
    position: relative
    max-width: 397px
    width: 100%
    box-shadow: 0 4px 15px rgba(#000, 0.12)
    &__head
        overflow: hidden
        max-width: 397px
        max-height: 272px
    &__bg
        min-width: 397px
        min-height: 272px
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__body
        padding: 0 20px 32px
        background: $white-color
    &__title
        overflow: hidden
        max-width: 358px
        max-height: 64px
        font-size: 20px
        font-weight: 300
        line-height: 32px
    &__more
        position: absolute
        right: 0
        bottom: -29px
        font-size: 14px
        font-weight: 600
        color: $blue-color
        &:hover
            color: $blue-color

// NEWS
.news
    position: relative
    max-width: 920px
    &::before
        content: ''
        display: block
        position: absolute
        top: 462px
        right: -316px
        width: 187px
        height: 462px
        background: #EBEBEB
    &::after
        content: ''
        display: block
        position: absolute
        top: 1104px
        right: -316px
        width: 187px
        height: 462px
        background: #EBEBEB
    &__preview
        margin-bottom: 45px
        width: 100%
        height: 462px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__title
        margin: 26px 0
        font-size: 36px
        font-weight: normal
    &__prompt
        margin-bottom: 40px
        font-size: 20px
        font-weight: 300
        line-height: 32px
    &__paragraph
        font-size: 26px
        line-height: 43px
    &__paragraph + &__paragraph
        margin-top: 40px
    &__paragraph a
        font-size: 14px
        font-weight: 600
        color: $blue-color
    &__inner
        margin: 40px auto
        max-width: 714px
    &__img
        height: 360px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__author
        text-align: right
        font-size: 14px
        font-weight: 600
    &__author a
        color: $blue-color

.person
    display: flex
    align-items: center
    margin-bottom: 45px
    &__info
        display: flex
        align-items: center
        width: 40%
    &__ava
        position: relative
        max-width: 188px
        min-width: 188px
        max-height: 201px
        min-height: 201px
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        cursor: pointer
        &:hover
            .person__ava--mouseover
                visibility: visible
                opacity: 1
    &__ava--mouseover
        position: absolute
        visibility: hidden
        opacity: 0
        width: 100%
        height: 100%
        background-color: rgba($primary-color, 0.6)
        background-repeat: no-repeat
        background-size: 80px
        background-position: center
        transition: all 0.5s
    &__edit
        display: block
        margin-top: 5px
        font-size: 14px
        font-weight: 600
        text-align: center
        color: $blue-color
        &:hover
            color: $blue-color
    &__about
        margin-left: 23px
    &__name,
    &__location
        font-size: 16px
        font-weight: 600
        line-height: 30px
    &__location
        margin: 20px 0 25px
    &__position
        font-size: 20px
        font-weight: 300
        line-height: 32px
    &__details
        padding: 12px 28px 42px 40px
        overflow-y: scroll
        width: 60%
        min-height: 218px
        max-height: 244px
        background: #F9F9F9
        box-shadow: 0 4px 15px rgba(#000, 0.12)
    &__resume
        text-align: right
    &__link
        font-size: 16px
        font-weight: 600
        line-height: 30px
        color: $blue-color
    &__link + &__link
        margin-left: 40px
    &__element
        display: flex
        align-items: center
    &__element + &__element
        margin-top: 35px
    &__title
        overflow: hidden
        max-width: 210px
        width: 100%
        font-size: 18px
        line-height: 28px
    &__status
        margin-left: 38px
        font-size: 16px
        font-weight: 600
        line-height: 30px
    &__options
        display: flex
        align-items: center
    &__value
        margin-left: 33px
        font-size: 16px
        font-weight: 600
        line-height: 30px
        &::before
            content: ''
            display: inline-block
            margin-right: 9px
            width: 1px
            height: 15px
            vertical-align: middle
            background: $blue-color

.information
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: stretch
    &__wrapper + &__wrapper
        margin-top: 102px
    &__inner
        padding: 36px 24px
        min-height: 234px
        background: #F9F9F9
        box-shadow: 0 4px 15px rgba(#000, 0.12)
    &__inner:not(.information__inner--small)
        width: 100%
    &__inner--small
        width: 50%
        .information__heading
            min-width: 100px
            width: 100%
    &__head
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__add
        font-size: 14px
        font-weight: 600
        color: $blue-color
        &:hover
            color: $blue-color
    &__item
        display: flex
        justify-content: space-between
        padding: 42px 0
        width: 85%
    &__item + &__item
        border-top: 2px solid $blue-color
    &__category
        display: flex
        flex-wrap: wrap
    &__group
        display: flex
        justify-content: space-between
        width: 100%
    &__heading,
    &__date,
    &__tag,
    &__career
        font-size: 16px
        font-weight: 600
        line-height: 30px
    &__heading
        margin-right: 10px
        margin-bottom: 8px
    &__tag-group
        display: flex
        min-width: 100px
        width: 100%
    &__tag
        margin-right: 22px
        &::before
            content: ''
            display: inline-block
            margin-right: 10px
            width: 1px
            height: 15px
            vertical-align: middle
            background: $blue-color
    &__tag + &__heading
        width: 100%
    &__career
        position: relative
        margin-right: 33px
    &__career + &__career
        &::before
            content: ''
            display: inline-block
            margin-right: 33px
            width: 100px
            height: 2px
            background: $blue-color
    &__link
        display: block
        min-width: 50px
        max-width: 200px
        width: 100%
        font-size: 14px
        font-weight: 600
        line-height: 30px
        color: $blue-color
        &:hover
            color: $blue-color
    &__date
        color: $dark-gray-color
    &__action
        display: flex
    &__edit,
    &__delete
        width: 21px
        height: 21px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__edit
        background-image: url(../img/dist/sprite.svg#edit)
    &__delete
        margin-left: 10px
        background-image: url(../img/dist/sprite.svg#delete)

.pay-check
    margin-top: 20px
    &__wrapper
        display: flex
    &__group
        max-width: 316px
        width: 100%
    &__group + &__group
        margin-left: auto
    &__label
        display: block
        margin-bottom: 4px
        font-size: 18px
        line-height: 28px
        color: $dark-gray-color
    &__input
        padding: 7px 16px
        width: 100%
        font-size: 16px
        font-weight: 600
        line-height: 30px
        color: $primary-color
        background: transparent
        border: none
        border-bottom: 1px solid $primary-color
        border-radius: 0
        &:focus
            outline: none
        &:placeholder
            color: $dark-gray-color
    &__btn
        margin-top: 47px
        border: none

@import "media"